*wp-admin/*
*wp-includes/*
.well-known/*
cgi-bin/*
*vendor/*
*.zip
*.sql
phinx.yml
*.log
*wp-content/debug.log
wp-content/debug.log
eloquent-config.php
medproms-config.php
wp-config.php

.ftpconfig
wp-content/cache/*
wp-content/blog.dir/*
wp-content/gallery/*
wp-content/maintenance/*
wp-content/upgrade/*
wp-content/uploads/*
wp-content/w3tc-config/*
wp-content/wflogs/*
wp-content/plugins/better-wp-security/*
wp-content/plugins/bbpress/*
wp-content/plugins/cleantalk-spam-protect/*
wp-content/plugins/cookie-law-info/*
wp-content/plugins/custom-contact-forms/*
wp-content/plugins/download-manager/*
wp-content/plugins/join-my-multisite/*
wp-content/plugins/jquery-mega-menu/*
wp-content/plugins/jquery-vertical-accordion-menu/*
wp-content/plugins/lightbox-plus/*
wp-content/plugins/megamenu/*
wp-content/plugins/megamenu-pro/*
wp-content/plugins/mlw_no_adverts/*
wp-content/plugins/postman-smtp/*
wp-content/plugins/recently-registered/*
wp-content/plugins/redirection/*
wp-content/plugins/remove-query-strings-from-static-resources/*
wp-content/plugins/theme-my-login/*
wp-content/plugins/w3-total-cache/*
wp-content/plugins/wordfence/*
wp-content/plugins/wordpress-mu-domain-mapping/*
wp-content/plugins/wordpress-seo/*
wp-content/plugins/wp-user-avatar/*
wp-content/plugins/yarpp-for-bbpress/*
wp-content/plugins/wordpress-importer/*
wp-content/plugins/contact-form-7/*
wp-content/plugins/qa/*
wp-content/plugins/posts-to-posts/*
wp-content/plugins/yet-another-related-posts-plugin/*
wp-content/plugins/wp-mail-smtp/*
wp-content/plugins/email-templates/*
wp-content/plugins/anspress-question-answer
wp-content/plugins/wp-all-import
wp-content/plugins/wp-all-export
wp-content/plugins/medoms-wp-client
wp-content/themes/iol/*
wp-content/themes/ioludm/*
wp-content/themes/twentyseventeen/*
wp-content/themes/twentyfifteen/*
wp-content/themes/twentyfourteen/*
wp-content/themes/twentysixteen/*
wp-content/themes/twentytwelve/*
wp-content/languages/*
__MACOSX/*
wp-content/plugins/mu-plugins/eloquent.php
