

/*
    Lo metemos tambi�n manualmente para ahorrarnos una petici�n http m�s

    @import url('bbpressRoot.css');


*/
/*-- Inicio bbpressRoot--*/
/**
 * bbPress specific CSS
 *
 * @package bbPress
 * @subpackage Theme
 */

/* =bbPress Style
-------------------------------------------------------------- */

#bbpress-forums hr {
	margin: 0 0 24px 0;
}

#bbpress-forums {
	background: transparent;
	clear: both;
	margin-bottom: 20px;
	overflow: hidden;
	font-size: 12px;
}

#bbpress-forums div,
#bbpress-forums ul {
	background-color: #fff;
}

#bbpress-forums .bbp-reply-header, #bbpress-forums .bbp-reply-header .bbp-meta{
	background: #e3e3e3 none repeat scroll 0 0;
	padding-bottom: 2px;
	padding-top: 1px;
}

div.bbp-topic-wrapper #bbpress-forums div.bbp-breadcrumb p a,
div.bbp-forum-content #bbpress-forums div.bbp-breadcrumb p a,
div.bbp-forum-front #bbpress-forums div.bbp-breadcrumb p a{
	color: #ad731f;
	font-size: 14px;
}

div.bbp-topic-wrapper #bbpress-forums div.bbp-breadcrumb p  span.bbp-breadcrumb-current,
div.bbp-forum-content #bbpress-forums div.bbp-breadcrumb p  span.bbp-breadcrumb-current,
div.bbp-forum-front #bbpress-forums div.bbp-breadcrumb p  span.bbp-breadcrumb-current{
	color:#222b3c;
	font-style: italic;
	font-size: 14px;
}


body.reply-edit .reply {
	float: none;
}

#bbpress-forums div.reply {
	height: auto;
	width: 100%;
}



#bbpress-forums .status-trash.even,
#bbpress-forums .status-spam.even {
	background-color: #fee;
}
#bbpress-forums .status-trash.odd,
#bbpress-forums .status-spam.odd {
	background-color: #fdd;
}

#bbpress-forums .status-closed,
#bbpress-forums .status-closed a {
	color: #ccc;
}

#bbpress-forums ul {
	background:  none;
	list-style: none;
	margin: 0;
	padding: 0;
}

#bbpress-forums ul.bbp-threaded-replies {
	margin-left: 50px;
}

#bbpress-forums li {
	background: transparent none repeat scroll 0 0;
	font-family: 'Roboto-Medium';
	list-style: outside none none;
	margin: 0;
}

#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results {
	font-size: 12px;
	overflow: hidden;
	margin-bottom: 20px;
	clear: both;
}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-body,
#bbpress-forums li.bbp-footer {
	clear: both;
}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
	background: #f3f3f3;
	font-weight: bold;
	padding: 8px;
	text-align: center;
}

#bbpress-forums li.bbp-header {
	background: #eaeaea;
}

#bbpress-forums li.bbp-header ul {
	overflow: hidden;
}

#bbpress-forums .bbp-forums-list {
	margin: 0 0 0 5px;
	padding-left: 15px;
	border-left: 1px solid #ddd;
}

#bbpress-forums .bbp-forums-list li {
	display: inline;
	font-size: 11px;
}

#bbpress-forums li.bbp-footer p {
	margin: 0;
	line-height: 1em;
}

li.bbp-forum-info,
li.bbp-topic-title {
	float: left;
	text-align: left;
	width: 55%;
}

#bbpress-forums ul.forum-titles li.bbp-topic-title{
	float: left;
	font-family: Roboto-Bold;
	font-size: 17px;
	font-weight: normal;
	text-align: left;
	text-transform: none;
	width: 100%;
	background: #72808b;
}

li.bbp-forum-topic-count,
li.bbp-topic-voice-count,
li.bbp-forum-reply-count,
li.bbp-topic-reply-count {
	float: left;
	text-align: center;
	width: 10%;
}

li.bbp-forum-freshness,
li.bbp-topic-freshness {
	text-align: center;
	float: left;
	width: 22%;
}

#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
	border-top: 1px solid #eee;
	overflow: hidden;
	padding: 8px;
}

li.bbp-header div.bbp-topic-content span#subscription-toggle,
li.bbp-header div.bbp-topic-content span#favorite-toggle,
li.bbp-header div.bbp-reply-content span#subscription-toggle,
li.bbp-header div.bbp-reply-content span#favorite-toggle {
	float: right;
}

#bbpress-forums div.bbp-forum-title h3,
#bbpress-forums div.bbp-topic-title h3,
#bbpress-forums div.bbp-reply-title h3 {
	background: none;
	border: none;
	font-size: 16px;
 	line-height: 1em;
 	margin: 8px 0;
	padding: 0;
	text-transform: none;
}

#bbpress-forums div.bbp-forum-author,
#bbpress-forums div.bbp-topic-author,
#bbpress-forums div.bbp-reply-author {
	float: left;
	text-align: center;
	width: 115px;
	color: #545454;
	font-family: 'Roboto-Bold';
	font-size: 14px;
}

div.topic.type-topic.status-publish{
	border-bottom: 1px solid #e3e3e3;
	margin-bottom: 20px;
	margin-top: 20px;
}

#bbpress-forums div.bbp-forum-author img.avatar,
#bbpress-forums div.bbp-topic-author img.avatar,
#bbpress-forums div.bbp-reply-author img.avatar {
	border: none;
	max-width: 80px;
	padding: 0;
	margin: 12px auto 0 auto;
	float: none;
}

#bbpress-forums div.bbp-forum-author a.bbp-author-name,
#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name {
    margin: 0 8px;
	word-break: break-word;
	display: inline-block;
}

#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name {
	clear: left;
	display: block;
	color: #545454;
	font-family: 'Roboto-Bold';
	font-size: 14px;
}

#bbpress-forums div.bbp-forum-author .bbp-author-role,
#bbpress-forums div.bbp-topic-author .bbp-author-role,
#bbpress-forums div.bbp-reply-author .bbp-author-role {
	color: #ffa53c;
	font-family: Roboto-Regular;
	font-size: 12px;
	font-style: italic;
	line-height: 0.9;
}

#bbpress-forums li.bbp-header .bbp-search-author,
#bbpress-forums li.bbp-footer .bbp-search-author,
#bbpress-forums li.bbp-header .bbp-forum-author,
#bbpress-forums li.bbp-footer .bbp-forum-author,
#bbpress-forums li.bbp-header .bbp-topic-author,
#bbpress-forums li.bbp-footer .bbp-topic-author,
#bbpress-forums li.bbp-header .bbp-reply-author,
#bbpress-forums li.bbp-footer .bbp-reply-author {
	float: left;
	margin: 0;
	padding: 0;
	width: 120px;
}

#bbpress-forums li.bbp-header .bbp-search-content,
#bbpress-forums li.bbp-footer .bbp-search-content,
#bbpress-forums li.bbp-header .bbp-forum-content,
#bbpress-forums li.bbp-footer .bbp-forum-content,
#bbpress-forums li.bbp-header .bbp-topic-content,
#bbpress-forums li.bbp-footer .bbp-topic-content,
#bbpress-forums li.bbp-header .bbp-reply-content,
#bbpress-forums li.bbp-footer .bbp-reply-content {
	margin-left: 140px;
	padding: 0;
	text-align: left;
}

div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header,
li.bbp-body div.hentry {
	margin-bottom: 0;
	overflow: hidden;
	padding: 8px;
}

div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header {
	border-top: 1px solid #ddd;
	clear: both;
}

span.bbp-author-ip {
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #aaa;
}

/* =Topic and reply content
-------------------------------------------------------------- */

#bbpress-forums div.bbp-forum-content,
#bbpress-forums div.bbp-topic-content,
#bbpress-forums div.bbp-reply-content {
	margin-left: 130px;
	padding: 12px 12px 12px 0;
	text-align: left;
}

/* Clearing hack */
#bbpress-forums div.bbp-forum-content:after,
#bbpress-forums div.bbp-topic-content:after,
#bbpress-forums div.bbp-reply-content:after {
	clear: both;
	content: ".";
	display: block;
	float: none;
	height: 0;
	font-size: 0;
	visibility: hidden;
}

#bbpress-forums div.bbp-topic-content a,
#bbpress-forums div.bbp-reply-content a {
	background: none;
	border: none;
	display: inline;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

#bbpress-forums div.bbp-topic-content h1,
#bbpress-forums div.bbp-reply-content h1,
#bbpress-forums div.bbp-topic-content h2,
#bbpress-forums div.bbp-reply-content h2,
#bbpress-forums div.bbp-topic-content h3,
#bbpress-forums div.bbp-reply-content h3,
#bbpress-forums div.bbp-topic-content h4,
#bbpress-forums div.bbp-reply-content h4,
#bbpress-forums div.bbp-topic-content h5,
#bbpress-forums div.bbp-reply-content h5,
#bbpress-forums div.bbp-topic-content h6,
#bbpress-forums div.bbp-reply-content h6 {
	clear: none;
	line-height: 1em;
	margin: 24px 0;
	padding: 0;
}

#bbpress-forums div.bbp-topic-content img,
#bbpress-forums div.bbp-reply-content img {
	max-width: 100%;
}

#bbpress-forums div.bbp-topic-content ul,
#bbpress-forums div.bbp-reply-content ul,
#bbpress-forums div.bbp-topic-content ol,
#bbpress-forums div.bbp-reply-content ol {
	margin: 0 15px 15px;
	padding: 0;
}

#bbpress-forums div.bbp-topic-content ul li,
#bbpress-forums div.bbp-reply-content ul li {
	list-style-type: disc;
}

#bbpress-forums div.bbp-topic-content ol li,
#bbpress-forums div.bbp-reply-content ol li {
	list-style-type: decimal;
}

#bbpress-forums div.bbp-topic-content ol li li,
#bbpress-forums div.bbp-reply-content ol li li {
	list-style-type: lower-alpha;
}

#bbpress-forums div.bbp-topic-content ol li li li,
#bbpress-forums div.bbp-reply-content ol li li li {
	list-style-type: upper-roman;
}

#bbpress-forums div.bbp-topic-content code,
#bbpress-forums div.bbp-reply-content code,
#bbpress-forums div.bbp-topic-content pre,
#bbpress-forums div.bbp-reply-content pre {
	font-family: Inconsolata, Consolas, Monaco, Lucida Console, monospace;
	display: inline-block;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	padding: 0 5px;
	max-width: 95%;
	vertical-align: middle;
	margin-top: -3px;
}

#bbpress-forums div.bbp-topic-content pre,
#bbpress-forums div.bbp-reply-content pre {
	display: block;
	line-height: 18px;
	margin: 0 0 24px;
	padding: 5px 10px;
	white-space: pre;
	overflow: auto;
}

#bbpress-forums div.bbp-topic-content pre code,
#bbpress-forums div.bbp-reply-content pre code {
	display: block;
	border: none;
	padding: 0;
	margin: 0;
	background-color: transparent;
	overflow-wrap: normal;
	overflow: auto;
	max-width: 100%;
}

/* =Reply to
-------------------------------------------------------------- */

#bbpress-forums div.bbp-reply-to {
	margin-left: 130px;
	padding: 12px 12px 12px 0;
	text-align: right;
}

#bbpress-forums div#bbp-cancel-reply-to {
	text-align: right;
}

/* =Breadcrumb and Tags
-------------------------------------------------------------- */

div.bbp-breadcrumb {
	float: left;
}

div.bbp-breadcrumb,
div.bbp-topic-tags {
	font-size: 12px;
	margin-bottom: 10px;
	margin-top: 25px;
}

#bbpress-forums div.bbp-breadcrumb p,
#bbpress-forums div.bbp-topic-tags p {
	margin-bottom: 10px
}

#bbpress-forums div.bbp-topic-tags {
	float: right;
}

#bbp-topic-hot-tags {
	clear: both;
}

/* =Search
-------------------------------------------------------------- */

#bbpress-forums #bbp-search-form {
	clear: left;
}

	#bbpress-forums #bbp-search-form .hidden {
		height: 0;
		width: 0;
		overflow: hidden;
		position: absolute;
		background: none;
		left: -999em;
	}

	#bbpress-forums #bbp-search-form #bbp_search {
		display: inline-block;
		width: auto;
	}

#bbpress-forums div.bbp-search-form {
	float: right;
}

/* =Admin Links
-------------------------------------------------------------- */

span.bbp-admin-links {
	float: right;
	color: #ddd;
}
span.bbp-admin-links a {
	color: #bbb;
	font-weight: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
}
fieldset span.bbp-admin-links {
	float: left;
}
tr td span.bbp-admin-links a:hover {
	color: #ff4b33;
}
td.bbp-topic-admin-links,
td.bbp-topic-counts {
	width: 50%;
}

.bbp-forum-header a.bbp-forum-permalink,
.bbp-topic-header a.bbp-topic-permalink,
.bbp-reply-header a.bbp-reply-permalink {
	float: right;
	margin-left: 10px;
	color: #ccc;
}

/* =Toggles
-------------------------------------------------------------- */

.bbp-topic-action #favorite-toggle a {
	text-decoration: none;
	padding: 0 3px 1px;
	color: #7c7;
	border: 1px solid #aca;
	background-color: #dfd;
	font-weight: bold;
	font-size: 13px;
	}
	.bbp-topic-action #favorite-toggle a:hover {
		color: #5a5;
		border-color: #7c7;
		background-color: #beb;
	}
	.bbp-topic-action #favorite-toggle span.is-favorite a {
		color: #faa;
		border: 1px solid #faa;
		background-color: #fee;
		}
		.bbp-topic-action #favorite-toggle span.is-favorite a:hover {
			color: #c88;
			border-color: #c88;
			background-color: #fdd;
		}

.bbp-topic-action #subscription-toggle a {
	text-decoration: none;
	padding: 0 3px 1px;
	color: #7c7;
	border: 1px solid #aca;
	background-color: #dfd;
	font-weight: bold;
	font-size: 13px;
	}
	.bbp-topic-action #subscription-toggle a:hover {
		color: #5a5;
		border-color: #7c7;
		background-color: #beb;
	}
	.bbp-topic-action #subscription-toggle span.is-subscribed a {
		color: #faa;
		border: 1px solid #faa;
		background-color: #fee;
		}
		.bbp-topic-action #subscription-toggle span.is-subscribed a:hover {
			color: #c88;
			border-color: #c88;
			background-color: #fdd;
		}

#bbpress-forums .bbp-forum-info .bbp-forum-content,
#bbpress-forums p.bbp-topic-meta {
	color: #db962f;
	font-family: Roboto-Light;
	font-size: 12px;
	font-style: italic;
	margin: 5px 0;
	padding: 0;
	word-wrap: break-word;
}

a.bbp-author-name{
		text-decoration: none;
		color:#db962f;
}

#bbpress-forums p.bbp-topic-meta span {
	white-space: nowrap;
}

/* =Pagination
-------------------------------------------------------------- */

.bbp-pagination-count {
	float: left;
	border: 1px solid transparent;
}

.bbp-pagination-links {
	float: right;
	list-style: none;
	display: inline;
	}
	.bbp-pagination-links a,
	.bbp-pagination-links span.current {
		display: block;
		float: left;
		padding: 0px 5px;
		margin-left: 5px;
		border: 1px solid #efefef;
		text-decoration: none;
		}
		.bbp-pagination-links a:hover,
		.bbp-pagination-links span.current {
			background: #eee;
			opacity: 0.8;
			border: 1px solid #ddd;
		}

	.bbp-pagination-links span.dots {
		display: block;
		float: left;
		padding: 1px 4px;
		margin-left: 5px;
	}

.bbp-pagination {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

.bbp-topic-pagination {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 2px;
	}
	.bbp-topic-pagination a {
    font-size: 14px;
    line-height: 10px;
    padding: 5px 7px;
    border: 1px solid #ddd;
    text-decoration: none;
	}


/* =Forms
-------------------------------------------------------------- */

#bbpress-forums fieldset.bbp-form {
	clear: left;
}

#bbpress-forums fieldset.bbp-form {
	border: 1px solid #eee;
	padding: 10px 20px;
	margin-bottom: 10px;
}

#bbpress-forums fieldset.bbp-form legend {
	padding: 5px;
	font-family: 'Roboto-Regular';
}

#bbpress-forums fieldset.bbp-form label {
	margin: 0;
	display: inline-block;
	font-family: 'Roboto-Regular';
}

#bbp-edit-topic-tag.bbp-form fieldset.bbp-form label,
#bbp-login fieldset label,
#bbp-register fieldset label,
#bbp-lost-pass fieldset label {
	width: 100px;
}

#bbpress-forums fieldset.bbp-form p,
#bbpress-forums fieldset.bbp-form textarea,
#bbpress-forums fieldset.bbp-form select,
#bbpress-forums fieldset.bbp-form input {
	margin: 0 0 8px;
}

textarea#bbp_reply_content,
textarea#bbp_topic_content,
textarea#bbp_forum_content {
	width: 97%;
	box-sizing: border-box;
}

textarea#bbp_forum_content {
	height: 210px;
}

#bbpress-forums fieldset.bbp-forum-form-attributes {
	width: 200px;
	float: right;
	clear: none;
	margin-left: 25px;
}

/**
 * Fix for too-long forum names, usually from conversion
 */
#bbpress-forums fieldset select#bbp_forum_id {
	max-width: 200px;
}

.bbp-topic-form,
.bbp-reply-form,
.bbp-topic-tag-form {
	clear: left;
}
body.topic-edit .bbp-topic-form div.avatar img,
body.reply-edit .bbp-reply-form div.avatar img,
body.single-forum .bbp-topic-form div.avatar img,
body.single-reply .bbp-reply-form div.avatar img {
	margin-right: 0;
	padding: 10px;
	border: 1px solid #ddd;
	line-height: 0;
	background-color: #efefef;
}

body.page .bbp-reply-form code,
body.page .bbp-topic-form code,
body.single-topic .bbp-reply-form code,
body.single-forum .bbp-topic-form code,
body.topic-edit .bbp-topic-form code,
body.reply-edit .bbp-reply-form code {
	font-size: 10px;
	background-color: #f0fff8;
	border: 1px solid #CEEFE1;
	display: block;
	padding: 8px;
	margin-top: 5px;
	width: 369px;
}

#merge_tag,
#delete_tag {
	display: inline;
}

div.bbp-submit-wrapper {
	margin-top: 15px;
	float: right;
	clear: both;
}

p.form-allowed-tags {
	max-width: 100%;
}

/* =TinyMCE in themes
-------------------------------------------------------------- */
#bbpress-forums div.bbp-the-content-wrapper {
	margin-bottom: 10px;
}

#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
	width: 100%;
	margin: 0;
	font-size: 12px;
	border:1px solid #dedede;
}

#bbpress-forums p.bbp-topic-meta span.bbp-topic-started-by img{
	display:none;
	}
#bbpress-forums p.bbp-topic-meta span.bbp-topic-started-by a img.avatar{
	display:none;
	}

#bbpress-forums div.bbp-the-content-wrapper table,
#bbpress-forums div.bbp-the-content-wrapper tbody,
#bbpress-forums div.bbp-the-content-wrapper tr,
#bbpress-forums div.bbp-the-content-wrapper td {
	border: none;
	padding: 0;
	margin: 0;
	width: auto;
	line-height: 1em;
}

#bbpress-forums div.bbp-the-content-wrapper input {
	font-size: 12px;
	padding: 5px;
	margin: 0 2px 0 0;
	line-height: 1em;
}

#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar {
	padding: 5px;
	min-height: 26px;
}
#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar {
	padding: 4px 4px 8px;
}

#bbpress-forums div.wp-editor-container {
	margin: 0;
	padding: 0;
	line-height: 0;
}

#bbpress-forums div.bbp-the-content-wrapper td.mceStatusbar {
	line-height: 16px;
}

/* =Edit User
-------------------------------------------------------------- */

#bbpress-forums #bbp-your-profile fieldset {
	padding: 20px 20px 0 20px;
}
	#bbpress-forums #bbp-your-profile fieldset div {
		margin-bottom: 20px;
		float: left;
		width: 100%;
		clear: left;
	}
	#bbpress-forums #bbp-your-profile fieldset select {
		margin-bottom: 0;
	}
	#bbpress-forums #bbp-your-profile fieldset input,
	#bbpress-forums #bbp-your-profile fieldset textarea {
		margin-bottom: 0;
		width: 60%;
		background: #f9f9f9;
		border: 1px solid #ddd;
		box-shadow: none;
		padding: 5px 8px;
		border-radius: 0;
	}
	#bbpress-forums #bbp-your-profile fieldset input:focus,
	#bbpress-forums #bbp-your-profile fieldset textarea:focus {
		border: 1px solid #ccc;
		box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
		outline-color: rgba(240,255,240,0.1);
	}
	#bbpress-forums #bbp-your-profile fieldset.bbp-form input.checkbox {
		width: auto;
	}
	#bbpress-forums #bbp-your-profile fieldset legend {
		display: none;
	}
	#bbpress-forums #bbp-your-profile fieldset label[for] {
		float: left;
		width: 20%;
		padding: 5px 20px 5px 0;
		text-align: right;
		cursor: pointer;
	}
	#bbpress-forums #bbp-your-profile fieldset dl label[for] {
		text-align: left;
		width: 60%;
	}
	#bbpress-forums #bbp-your-profile fieldset span.description {
		margin: 5px 0 0 20%;
		font-size: 12px;
		font-style: italic;
		float: left;
		clear: left;
		width: 60%;
		padding: 5px 8px;
		border: #cee1ef 1px solid;
		background-color: #f0f8ff;
	}

	#bbpress-forums #bbp-your-profile fieldset fieldset {
		margin: 0;
		border: none;
		padding: 0;
		clear: none;
		float: none;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.password {
		width: 60%;
		display: inline;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.password input,
	#bbpress-forums #bbp-your-profile fieldset fieldset.password span {
		width: 100%;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.capabilities dl {
		margin: 0;
	}
	#bbpress-forums #bbp-your-profile fieldset fieldset.password span.description {
		margin-left: 0;
		margin-bottom: 20px;
	}

	#bbpress-forums #bbp-your-profile fieldset.submit button {
		float: right;
	}

/* =Notices
-------------------------------------------------------------- */

div.bbp-template-notice,
div.indicator-hint {
	border-width: 1px;
	border-style: solid;
	padding: 0 0.6em;
	margin: 5px 0 15px;
	border-radius: 3px;
	background-color: #ffffe0;
	border-color: #e6db55;
	color: #000;
	clear: both;
}
div.bbp-template-notice a {
	color: #555;
	text-decoration: none;
}
	div.bbp-template-notice a:hover {
		color: #000;
	}
	div.bbp-template-notice.info {
		border: #cee1ef 1px solid;
		background-color: #f0f8ff;
	}
	div.bbp-template-notice.important {
		border: #e6db55 1px solid;
		background-color: #fffbcc;
	}
	div.bbp-template-notice.error,
	div.bbp-template-notice.warning {
		background-color: #ffebe8;
		border-color: #c00;
	}
	div.bbp-template-notice.error a,
	div.bbp-template-notice.warning a {
		color: #c00;
	}
	div.bbp-template-notice p {
		margin: 0.5em 0 6px 0 !important;
		padding: 2px;
		font-size: 12px;
		line-height: 140%;
	}

/* =Stickies
-------------------------------------------------------------- */

.bbp-topics-front ul.super-sticky,
.bbp-topics ul.super-sticky,
.bbp-topics ul.sticky,
.bbp-forum-content ul.sticky {
	background-color: #ffffe0 !important;
	font-size: 1.1em;
}

/* =Revisions
-------------------------------------------------------------- */

#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log,
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log,
#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log {
	border-top: 1px dotted #ddd;
	width: 100%;
	margin: 0;
	padding: 8px 0 0 0;
	font-size: 11px;
	color: #aaa;
}

#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log li,
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log li,
#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log li {
	list-style-type: none;
}

/* =Widgets
-------------------------------------------------------------- */

.bbp-login-form fieldset legend {
	display: none;
}

.bbp-login-form .bbp-username input,
.bbp-login-form .bbp-email input,
.bbp-login-form .bbp-password input {
	padding: 5px;
}

.bbp-login-form label {
	width: 140px;
	display: inline-block;
}

#sidebar .bbp-login-form label {
	width: 70px;
}

.bbp-login-form .bbp-username,
.bbp-login-form .bbp-email,
.bbp-login-form .bbp-password,
.bbp-login-form .bbp-remember-me,
.bbp-login-form .bbp-submit-wrapper {
	margin-top: 10px;
}

.bbp-login-form .bbp-remember-me {

}

.bbp-login-form .bbp-submit-wrapper {
	text-align: right;
}

.bbp-login-form .bbp-login-links {
}

.bbp-login-form .bbp-login-links a {
	float: left;
	clear: left;
}

.bbp-logged-in img.avatar {
	float: left;
	margin: 0 15px 0 0;
}

.bbp-logged-in h4 {
	font-weight: bold;
	font-size: 1.3em;
	clear: none;
	margin-bottom: 10px;
}

/* =Avatars
-------------------------------------------------------------- */

#bbpress-forums p.bbp-topic-meta img.avatar,
#bbpress-forums ul.bbp-reply-revision-log img.avatar,
#bbpress-forums ul.bbp-topic-revision-log img.avatar,
#bbpress-forums div.bbp-template-notice img.avatar,
#bbpress-forums .widget_display_topics img.avatar,
#bbpress-forums .widget_display_replies img.avatar {
	float: none;
	margin-bottom: -7px;
	border: 0px;
}

fieldset div.avatar {
	float: right;
}

/* =BuddyPress Activity Streams
-------------------------------------------------------------- */

.activity-list li.bbp_topic_create .activity-content .activity-inner,
.activity-list li.bbp_reply_create .activity-content .activity-inner {
	border-left: 2px solid #eaeaea;
	margin-left: 5px;
	padding-left: 10px;
}

/* =User Pages
-------------------------------------------------------------- */

#bbpress-forums h1 {
	clear: none;
	font-size: 1.8em;
	line-height: 1em;
	padding-bottom: 10px;
}

#bbpress-forums #bbp-user-wrapper {
	float: left;
	width: 100%;
}

#bbpress-forums .bbp-user-section {
	overflow: auto;
}
/*
#bbpress-forums #bbp-user-wrapper h2.entry-title {
	font-size: 1.4em;
	margin: 0;
	padding-bottom: 10px;
	padding-top: 0;
	clear: none;
}
*/
#bbpress-forums #bbp-user-wrapper ul.bbp-lead-topic,
#bbpress-forums #bbp-user-wrapper ul.bbp-topics,
#bbpress-forums #bbp-user-wrapper ul.bbp-forums,
#bbpress-forums #bbp-user-wrapper ul.bbp-replies,
#bbpress-forums #bbp-user-wrapper fieldset.bbp-form {
	clear: none;
}

#bbpress-forums #bbp-single-user-details {
	margin: 0;
	width: 18%;
	float: left;
	overflow: hidden;
}

div.bbp-user-section p{
	font-family: Roboto-Light;
font-size: 13px;
line-height: 1.35;
margin-bottom: 10px;
}
.bbp-header a{
	color: #535353;
}


#bbpress-forums #bbp-single-user-details #bbp-user-avatar {
	margin: 0;
	width: 150px;
    height: 180px;/*Cosecha nuestra*/
}

#bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar {
	border: none;
	height: 150px;
	padding: 0;
	margin: 0 0 20px 0;
	width: 150px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-description {
	float: none;
	margin-left: 180px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation {
	float: none;
	margin: 0;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li {
	margin: 0;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation a {
	padding: 5px 8px;
	display: block;
	border: 1px solid transparent;
	text-decoration: none;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
	background: #eee;
	opacity: 0.8;
}

#bbpress-forums #bbp-user-body {
	float: left;
	padding-left: 2%;
	width: 80%;
}

span.bbp-topic-started-in a{
	color: #db962f;
	text-decoration: none;
}



body.my-account #bbpress-forums {
	border-top: none;
	padding-top: 0;
	margin-bottom: 0;
}

/* =User Capabilities
-------------------------------------------------------------- */

#bbpress-forums dl.bbp-user-capabilities {
	display: inline-block;
	vertical-align: top;
}

#bbpress-forums dl.bbp-user-capabilities dt {
	margin: 0 0 10px;
	text-transform: capitalize;
}

#bbpress-forums dl.bbp-user-capabilities dd {
	margin: 0;
	padding: 0;
}

/* =BuddyPress Group Forums
-------------------------------------------------------------- */

#bbpress-forums div.row-actions {
	font-size: 11px;
	visibility: hidden;
}

#bbpress-forums li:hover > div.row-actions {
	visibility: visible;
}

/*--------------------------------------------------------------
 Media Queries
--------------------------------------------------------------*/

/* =Standard Mobile Landscape
-------------------------------------------------------------- */
@media screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
	-webkit-text-size-adjust: none;
}
@media only screen and (max-width: 480px) {
	#bbpress-forums div.bbp-topic-tags {
		clear: left;
		float: left;
	}
	div.bbp-search-form input,
	div.bbp-search-form button {
		font-size: 11px;
		padding: 2px;
	}
	li.bbp-forum-info,
	li.bbp-topic-title {
		width: 45%;
	}
	li.bbp-forum-topic-count,
	li.bbp-forum-reply-count,
	li.bbp-topic-voice-count,
	li.bbp-topic-reply-count {
		width: 15%;
	}
	span.bbp-reply-post-date {
		float: left;
	}
	span.bbp-admin-links {
		clear: left;
		float: left;
	}
	#bbpress-forums .bbp-forums-list li {
		display: block;
		font-size: 11px;
	}
	#bbpress-forums .bbp-body div.bbp-reply-author {
		margin: -15px 10px 10px;
		min-height: 100px;
		padding-left: 80px;
		position: relative;
		text-align: left;
		width: 100%;
	}
	#bbpress-forums div.bbp-reply-author a.bbp-author-name {
		clear: none;
		display: inline-block;
		margin-left: 0;
		word-wrap: break-word;
	}
	#bbpress-forums div.bbp-reply-author img.avatar {
		position: absolute;
		top: 15px;
		left: 0;
		width: 60px;
		height: auto;
	}
	#bbpress-forums div.bbp-reply-author .bbp-author-role {
		font-size: 12px;
		font-style: normal;
	}
	#bbpress-forums .bbp-body div.bbp-reply-content {
		clear: both;
		margin: 10px;
		padding: 0;
	}
	#bbpress-forums div.bbp-reply-content p {
		margin-bottom: 1em;
	}
	div.bbp-submit-wrapper {
		float: left;
	}
	#bbpress-forums fieldset.bbp-form {
		padding: 0 10px 10px;
	}
	#bbpress-forums #bbp-user-body {
		clear: both;
		margin-left: 0;
		word-wrap: break-word;
	}
}

/* =Standard Mobile Portrait
-------------------------------------------------------------- */
@media only screen and (max-width: 320px) {
	#bbpress-forums div.bbp-search-form {
		margin-bottom: 10px;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-info,
	#bbpress-forums li.bbp-body li.bbp-forum-info,
	#bbpress-forums li.bbp-header li.bbp-topic-title,
	#bbpress-forums li.bbp-body li.bbp-topic-title {
		width: 100%;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-info,
	#bbpress-forums li.bbp-header li.bbp-topic-title {
		text-align: center;
		text-transform: uppercase;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-header li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-body li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-body li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-header li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-header li.bbp-topic-reply-count,
	#bbpress-forums li.bbp-body li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-body li.bbp-topic-reply-count {
		width: 20%;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-freshness,
	#bbpress-forums li.bbp-body li.bbp-forum-freshness,
	#bbpress-forums li.bbp-header li.bbp-topic-freshness,
	#bbpress-forums li.bbp-body li.bbp-topic-freshness {
		width: 58%;
	}
	#bbpress-forums li.bbp-body li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-body li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-body li.bbp-forum-freshness,
	#bbpress-forums li.bbp-body li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-body li.bbp-topic-reply-count,
	#bbpress-forums li.bbp-body li.bbp-topic-freshness {
		margin-top: 7px;
	}
	#bbpress-forums li.bbp-header,
	#bbpress-forums li.bbp-footer {
		font-size: 10px;
	}
	#bbpress-forums li.bbp-header div.bbp-reply-author {
		text-align: left;
		width: 25%;
	}
	#bbpress-forums li.bbp-header div.bbp-reply-content {
		margin-left: 25%;
	}
	#bbpress-forums div.bbp-template-notice img.avatar,
	#bbpress-forums p.bbp-topic-meta img.avatar {
		width: 14px;
		height: auto;
	}
	#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar {
		padding: 1px;
	}
	#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar td {
		width: 20px;
		height: 20px;
	}
	#bbpress-forums div.wp-editor-container {
		width: 100%;
		overflow: auto;
	}
	#bbpress-forums input#bbp_topic_title,
	#bbpress-forums input#bbp_topic_tags {
		width: 95%;
	}
}

/* =Extra Small Mobile
-------------------------------------------------------------- */
@media only screen and (max-width: 240px) {
	#bbpress-forums li.bbp-header li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-header li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-body li.bbp-forum-topic-count,
	#bbpress-forums li.bbp-body li.bbp-forum-reply-count,
	#bbpress-forums li.bbp-header li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-header li.bbp-topic-reply-count,
	#bbpress-forums li.bbp-body li.bbp-topic-voice-count,
	#bbpress-forums li.bbp-body li.bbp-topic-reply-count,
	#bbpress-forums li.bbp-footer div.bbp-reply-author,
	#bbpress-forums li.bbp-footer div.bbp-reply-content {
		width: 45%;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-freshness,
	#bbpress-forums li.bbp-body li.bbp-forum-freshness,
	#bbpress-forums li.bbp-header li.bbp-topic-freshness,
	#bbpress-forums li.bbp-body li.bbp-topic-freshness,
	#bbpress-forums li.bbp-header div.bbp-reply-author,
	#bbpress-forums li.bbp-header div.bbp-reply-content {
		clear: both;
		width: 100%;
	}
	#bbpress-forums li.bbp-header li.bbp-forum-freshness,
	#bbpress-forums li.bbp-header li.bbp-topic-freshness {
		text-align: center;
	}
	#bbpress-forums li.bbp-body li.bbp-topic-freshness,
	#bbpress-forums li.bbp-header div.bbp-reply-content {
		margin-left: 0;
		text-align: left;
	}
	#bbpress-forums li.bbp-body li.bbp-topic-freshness p.bbp-topic-meta {
		display: inline-block;
	}
	#bbpress-forums li.bbp-header {
		overflow: hidden;
	}
	#bbpress-forums li.bbp-footer div.bbp-reply-content {
		display: inline-block;
		margin-left: 0;
	}
	#bbpress-forums li.bbp-body div.bbp-reply-author {
		min-height: 60px;
		padding-left: 60px;
	}
	#bbpress-forums div.bbp-reply-author img.avatar {
		width: 40px;
		height: auto;
	}
}

/*-- Fin bbpress Root*/

/*HEADER*/

#wrapper-header-foro{
	width: 100%;
	min-width: 960px; /*Para evita hueco*/
	height:auto;
	border-bottom: 1px solid #c2c2c2;
	-moz-box-shadow: 0px 1px 3px 0px #cecece;
	-webkit-box-shadow: 0px 1px 3px 0px #cecece;
	box-shadow: 0px 1px 3px 0px #cecece;
	margin-bottom: 40px;
/*-- Metemos un gradiente que permita ver de una manera coherente el header del foro en pantallas gigantes--*/
background: #fdfdfd; /* Old browsers */
background: -moz-linear-gradient(left,  #fdfdfd 0%, #fdfdfd 47%, #d4d4d6 52%, #d4d4d6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fdfdfd), color-stop(47%,#fdfdfd), color-stop(52%,#d4d4d6), color-stop(100%,#d4d4d6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #fdfdfd 0%,#fdfdfd 47%,#d4d4d6 52%,#d4d4d6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #fdfdfd 0%,#fdfdfd 47%,#d4d4d6 52%,#d4d4d6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #fdfdfd 0%,#fdfdfd 47%,#d4d4d6 52%,#d4d4d6 100%); /* IE10+ */
background: linear-gradient(to right,  #fdfdfd 0%,#fdfdfd 47%,#d4d4d6 52%,#d4d4d6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#d4d4d6',GradientType=1 ); /* IE6-9 */


	}

#wrapper-top-foro{



	width: 100%;
	height: 143px;
	/*background-color:#003b63;*/
	background-image: url('../images/header/header-foro.jpg');
	background-size: auto 204px;
	background-position: center;
	background-repeat: no-repeat;
	}

#top-header-foro{
	width: 960px;
	margin:0 auto;
	background-color:transparent;
	height: 143px;}

#wrapper-down-foro{
	width: 100%;
	height: 45px;
	/*background-color:#f6f6f6;*/
	/*--Metemos el nuevo gradiente--*/
	    background: #015995; /* Old browsers */
	background: -moz-linear-gradient(top, #015995 40%, #003c65 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#015995), color-stop(100%,#003c65)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #015995 40%,#003c65 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #015995 40%,#003c65 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #015995 40%,#003c65 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #015995 40%,#003c65 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#015995', endColorstr='#003c65',GradientType=0 ); /* IE6-9 */

	/**/
	border-top: 1px solid #fff;
	/*border-bottom: 1px solid #fff;*/}

#menu-header-foro{
	width: 960px;
	margin:0 auto;
	background-color:transparent;
	height: 24px;}

#logo-header-foro{
	width: 407px;
	height: 143px;
	float: left;}

#widget-header-forum label{
	display:none;}

#widget-header-forum{
	width: 275px; /*212px;*/
	float:right;
	margin-top: 20px;}

#menu-header-foro ul{
	margin: 15px 0 0 0;
	padding: 0;}

#menu-header-foro ul li{
	float:left;
	margin-right: 68px;}

#menu-header-foro ul li:last-child{
	/*float:right;*/
	margin-right: 0px;}

#menu-header-foro ul li a{
	text-decoration: none;
	text-transform:uppercase;
	font-family: 'Roboto-Light';
    font-size: 15px;
    font-weight: normal;
	color: #fffafc;/*#4b4b4b;*/}

li.bbp-forum-info{
	font-weight: normal;}

#menu-header-foro ul li a:hover{
	color: #fea63c;
	text-shadow: 0em 0.00009em #666;}

#bbp_search_submit{
	background-color:#fea63c;
	background-image:none;
	border:none;
	color: #fff;
	font-family: 'Roboto-Light';
	font-size: 12px;
	border-radius: 3px;}

/*CONTENT*/


/*
#bbp-content #bbp-user-wrapper div#bbp-user-body div.bbp-user-profile h2, #bbp-content #bbp-user-wrapper div#bbp-user-body div.bbp-user-replies-created h2, #bbp-content #bbp-user-wrapper div#bbp-user-body div.bbp-user-favorites h2, #bbp-content #bbp-user-wrapper div#bbp-user-body div.bbp-user-subscriptions h2, #bbp-content #bbp-user-wrapper div#bbp-user-body form h2 {
	font-family: 'negotiatefree';
	color: #003B63;
	font-weight:500;
	text-transform:uppercase;
	margin-bottom: 10px;}*/

#bbpress-forums div.bbp-search-form {
    display:none;}

#bbp-container{
    padding-bottom: 40px;
		margin-top: 24px;
    padding-left: 0px;
    width: 74%;
	float: left;}

#widget-forum{
	width: 24%;
	float:right;
	margin-top: 58px;}

#widget-forum aside{
	margin-bottom: 30px;
	border: 0px;}



.widget-container.widget_theme_my_login h3{
	background-image: none !important;
	color: #ffa72f !important;
	font-family: "Roboto-Bold";
	font-size: 15px !important;
	font-weight: normal;
	text-transform: none;
}

#bbpress-forums li.bbp-header ul.forum-titles li.bbp-forum-info{
	font-family: 'Roboto-Bold';
	font-size: 19px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-bottom: 7px;
}

#widget-forum aside ul li{
	padding: 10px 0 5px 7px;}





	li.bbp-topic-freshness a{
		font-size:11px;
		text-decoration:none;
		}



#widget-forum h3.yarppTitle{
	background: none !important;
	padding-top: 0px;
	padding-left: 2px;
}




#widget-forum aside ul li a.bbp-forum-title{
	color: #5b5e5e;
	display: block;
	float: right;
	font-family: "Roboto-Light";
	font-size: 13px;
	font-weight: normal;
	line-height: 1.4;
	text-decoration: none;
	vertical-align: top;
	width: 71%;
	}

#widget-forum aside ul li a.bbp-author-name{
	color: #e1972c;
    text-transform: none;
    font-weight: normal;
		text-decoration: none;
		display: inline;
		word-break: break-word;
	}

.widget-container.widget_display_topics > ul span.topic-author	a.bbp-author-avatar{
	display: none;
}


#widget-forum aside ul li{
	font-size: 13px;
	font-family: 'Roboto-Light';
	line-height: 1.4;
}

#widget-forum aside ul li div{
	font-size: 13px;
	font-family: 'Roboto-Regular';
	line-height: 1.4;
	font-style:italic;
}

#widget-forum aside ul li span{
	font-size: 13px;
	font-family: 'Roboto-Light';
	line-height: 1.4;
}

#widget-forum aside ul li span.topic-author{
	color:#e1972c;
    display:block;
    float:right;
    font-family:'Roboto-Regular';
    font-weight:normal;
    padding:0;
    text-transform: none;
    /* padding-left: 53px; */
    margin-top:-20px;
    clear:both;
    max-width:100%;
}

#widget-forum aside ul li span.topic-author img{
	display: none;
}

.widget-container.widget_display_topics > ul > li{
	visibility:collapse;
}
.widget-container.widget_display_topics > ul > li a,
.widget-container.widget_display_topics > ul > li span,
.widget-container.widget_display_topics > ul > li div{
	visibility:visible;
}

#widget-forum aside.widget_display_topics ul li > a:first-child,
#widget-forum aside.widget_display_replies ul li > a:first-child{
	background: rgba(0, 0, 0, 0) url("../images/content/widget-icon-forum.png") no-repeat scroll left top;
	min-height: 50px;
	min-width: 210px;
	padding-left: 56px;
	width: auto;
	display: block;
	font-family: 'Roboto-Regular';
	font-size: 14px;
	float: left;/*new*/
}
#widget-forum aside.widget_display_replies ul li > a:first-child{
	background: rgba(0, 0, 0, 0) url("../images/content/widget-icon2-forum.png") no-repeat scroll left top;
	color: #353537;
	text-decoration: none;
margin-bottom: 20px;
}

#widget-forum aside ul li div:last-child{
    margin-top:2px;
    overflow:hidden;
    padding-right:4px;
    width:auto;
    max-width:100%;
    float:right;
    margin-bottom:5px;
}




.bbp-forum-topic-count, .bbp-forum-freshness, .bbp-forum-reply-count{
	font-size: 13px;}

#bbpress-forums ul.bbp-lead-topic, #bbpress-forums ul.bbp-topics, #bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-replies, #bbpress-forums ul.bbp-search-results {
	border:none;}

#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
    border: 0px;
    overflow: hidden;
    padding: 30px 0px 8px 0px;
	min-height: 100px;
	border-bottom: 1px solid #72808b;
}

#bbpress-forums img{
	border-radius: 0;
	box-shadow: none;
	display: block;
	float: left;
	margin-bottom: 20px;
	margin-right: 25px;
	margin-top: 10px;}

.mensWrapp, .topicWrapp{
	color: #7e7e7e;
	font-family: Roboto-Regular;
	font-weight: normal;
	display: block;
}
.newDLine{
	display: block;
	height: 15px;
}

.newDLineLabel{
	font-size: 13px;
}

#bbpress-forums li a.bbp-forum-title,
li.bbp-topic-title a.bbp-topic-permalink{
	color: #222939;
	font-family: "Roboto-Bold";
	font-size: 16px;
	font-weight: normal !important;
	text-decoration: none;
	text-transform: none;
	margin-left: 150px;
	display:block;
}


li.bbp-topic-title a.bbp-topic-permalink{
margin-left: 0px;	
}

 li.bbp-topic-title a.bbp-topic-permalink{
	 font-family: "Roboto-Medium";
 }

#bbpress-forums p.bbp-topic-meta span.sforumFrWrapper{
	display: block;
	text-align: left;
}

span.sforumFrWrapper, span.sforumFrWrapper a{
	font-family: 'Roboto-Light';
	color: #353535;
	text-decoration: none;
	font-style: normal;
}

#bbpress-forums .bbp-forum-info .bbp-forum-content{
	color: #353535;
	font-family: "Roboto-Light";
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	margin-left: 150px;
	margin-top: 0;
	margin-bottom: 40px;
	}

#bbpress-forums .bbp-topics li.bbp-header{
	border-radius: 2px;
	color: #ffffff;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0px;
}

.forum-titles li.bbp-topic-title{

}
#bbpress-forums .forum-titles li.bbp-topic-title img{
	margin-bottom: 4px;
	margin-left: 1.5%;
	margin-top: 4px;
	max-width: 65px;
	padding-bottom: 0;
	padding-top: 0;
	width: 7%;
}
span.spectitle{
	background: #72808b none repeat scroll 0 0;
	display: block;
	float: left;
	margin-top: 14px;
	width: 85%;
}

#bbpress-forums .bbp-topics ul.forum-titles{
	background: #ffffff;
}

li.bbp-forum-freshness, li.bbp-topic-freshness {
    width: 13%;}

li.bbp-forum-topic-count, li.bbp-topic-voice-count, li.bbp-forum-reply-count, li.bbp-topic-reply-count {
    width: 13%;}

li.bbp-forum-info, li.bbp-topic-title {
    width: 58%; /*60%;*/
    }

span.freshnessWrapper a{
	color: #db962f;
	display: block;
	font-family: "Roboto-Light";
	font-style: italic;
	text-decoration: none;
	font-size: 13px;
}


#bbpress-forums li.bbp-header {
	background: #72808b none repeat scroll 0 0;
	border: 0 none;
	border-radius: 0;
	font-weight: normal;
	padding: 10px 0 6px 20px;
	text-align: center;
}

#bbpress-forums .forums.bbp-replies li.bbp-header{
    padding: 8px 0 50px 20px;/*16px => 50*/
}

#singleTopicTitle{
	font-family: Roboto-Bold;
	font-size: 19px;
	margin-top: 20px;
}

#bbp-content div.bbp-topic-wrapper div.bbp-breadcrumb{
	margin-top: 5px;
}


#bbpress-forums li.bbp-footer{
	display: none;
}

#bbpress-forums li.bbp-forum-topic-count, #bbpress-forums li.bbp-forum-reply-count, #bbpress-forums li.bbp-forum-freshness{
	/*border-color: #003e67;*/
	color: white;
	text-transform: uppercase;
	font-family: "Roboto-Bold";
	font-size: 14px;
	font-weight: normal;}

#bbpress-forums li.bbp-forum-freshness a{
	font-family: 'Roboto-Regular';
	text-transform:none;
	font-size: 12px;
	font-weight:normal;
	color: #7e7e7e !important;
	text-align:center;
	text-decoration:none;
	display:block;
	width:100%;}

#bbpress-forums li.bbp-forum-freshness p{
	margin:0px;}

#bbpress-forums li.bbp-forum-freshness p spam.bbp-topic-freshness-author{
	}

#bbpress-forums p.bbp-topic-meta span {
   text-align:center;
}

div.bbp-topic-form{
	margin-top: 50px;
}

#bbpress-forums p.bbp-topic-meta span a.bbp-author-avatar{
   display:block;
   width:auto;
   margin: 0 auto;
}

#bbpress-forums p.bbp-topic-meta span a img.avatar
{
   display:block;
	 border-radius: 3px;
   margin-bottom: -17px;}

#bbpress-forums p.bbp-topic-meta span a.bbp-author-name,
#bbpress-forums ul.topic.type-topic li.bbp-topic-freshness p.bbp-topic-meta span.bbp-topic-freshness-author{
	display:block;
   width:100%;
	 margin: -14px auto 0;
   text-align:center;
 font-style: normal;
 color: #7e7e7e;
 font-size: 12px;
 display: block;
 font-family: "Roboto-Regular";
}

#bbpress-forums ul.topic.type-topic li.bbp-topic-freshness p.bbp-topic-meta span.bbp-topic-freshness-author img{
	margin-left: auto;
	margin-right: auto;
}

#bbpress-forums li.bbp-topic-freshness p.bbp-topic-meta{
	margin-top: 15px;
}

#bbpress-forums div.bbp-breadcrumb p, #bbpress-forums div.bbp-topic-tags p {
   font-family: 'Roboto-Light';
   font-size: 13px;
   font-weight:normal;
	 color: #ffa72f;
 }

#bbpress-forums div.bbp-breadcrumb p a, #bbpress-forums div.bbp-topic-tags p a,div.bbp-breadcrumb span.bbp-breadcrumb-current{
   font-family: 'Roboto-Light';
	color: #353535;
text-decoration: none;}


#bbpress-forums ul.forums li{
    font-family: 'Roboto-Light';
    font-size: 13px;
    font-weight: normal;}

#bbpress-forums ul li.bbp-header div.bbp-reply-author{
	background-color: transparent;
	background-image: url("../images/content/author-icon.png");
	background-position: left center;
	background-repeat: no-repeat;
	color: #ffffff;
	font-family: "Roboto-Medium";
	font-size: 19px;
	padding-left: 20px;
	width: 64px;
}

#bbpress-forums ul li.bbp-header div.bbp-reply-content{
	background: transparent url("../images/content/message-icon.png") no-repeat scroll 0 7px;
	clear: none;
	color: #ffffff;
	float: left;
	font-family: "Roboto-Medium";
	font-size: 19px;
	margin-left: 40px;
	padding-left: 30px;
}


#bbpress-forums li.bbp-header .bbp-search-content, #bbpress-forums li.bbp-footer .bbp-search-content, #bbpress-forums li.bbp-header .bbp-forum-content, #bbpress-forums li.bbp-footer .bbp-forum-content, #bbpress-forums li.bbp-header .bbp-topic-content, #bbpress-forums li.bbp-footer .bbp-topic-content, #bbpress-forums li.bbp-header .bbp-reply-content, #bbpress-forums li.bbp-footer .bbp-reply-content {
    margin-left: 126px;}


#bbpress-forums div.bbp-topic-content a, #bbpress-forums div.bbp-reply-content a {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    display: inline;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
	font-family: 'Roboto-Light';
    font-size: 14px;
    font-weight: normal;
	font-color: #fff;
	text-decoration:none;}

#bbpress-forums div.bbp-reply-content a{
	color: #21759b;
	text-decoration: underline;
}

#bbpress-forums ul li.bbp-header div.bbp-reply-content a{
	color:#FFFFFF;
	text-decoration:none;
	}

div.bbp-reply-content p{
	font-size:14px;
	}

#bbpress-forums ul li.bbp-body div.bbp-meta span{
	font-family: 'Roboto-Light';
    font-size: 13px;
    font-weight: normal;}

span.bbp-admin-links a {
    color: #AAAAAA;}

div.bbp-meta span,
div.bbp-reply-header div.bbp-meta a.bbp-reply-permalink,
div.bbp-meta span.bbp-admin-links a{
	color: #535353;
	text-decoration: none;
	text-transform: none;
font-family: Roboto-Regular;
font-size: 12px;
font-style: italic;
	}



#bbpress-forums .bbp-topic-wrapper #bbpress-forums li.bbp-header {
    margin-bottom: 15px;
	}

#bbpress-forums ul.forums li.bbp-footer div.bbp-reply-author, #bbpress-forums ul.forums li.bbp-footer div.bbp-reply-content{
    display:none;}

#bbpress-forums div.reply {
	height: auto;
	padding-bottom: 20px;
	padding-top: 20px;
	width: auto;	}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation a {
    color: #003E67;}

#bbpress-forums .bbp-user-section {
    padding-top: 10px;}


/*FOOTER*/

#line-footer-forum{
	width: 100%;
	min-width: 960px;
	height: 4px;
	background-color:#fff;
	border-top: 1px solid #cecece;
	border-bottom: 1px solid #094f7f;
	}

#footer-wrap-forum {
    width: 100%;
    min-width: 960px;/*Para evitar hueco a la derecha*/
	background: #004472; /* Old browsers */
	background: -moz-linear-gradient(top, #004777 20%, #003457 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#004777), color-stop(100%,#003457)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #004777 20%,#003457 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #004777 20%,#003457 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #004777 20%,#003457 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #004777 20%,#003457 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004777', endColorstr='#003457',GradientType=0 ); /* IE6-9 */}

#gradient-footer{
	width: 100%;
	height: 15px;
	background: #004472; /* Old browsers */
	background: -moz-linear-gradient(top, #003255 40%, #004472 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#003255), color-stop(100%,#004472)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #003255 40%,#004472 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #003255 40%,#004472 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #003255 40%,#004472 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #003255 40%,#004472 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003255', endColorstr='#004472',GradientType=0 ); /* IE6-9 */
}

#gradient-bottom-footer{
	width: 100%;
	height:12px;
	border-top: 2px solid #000;
	background: #004472; /* Old browsers */
	background: -moz-linear-gradient(top, #004472 20%, #002a46 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#004472), color-stop(100%,#002a46)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #004472 20%,#002a46 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #004472 20%,#002a46 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #004472 20%,#002a46 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #004472 20%,#002a46 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004472', endColorstr='#002a46',GradientType=0 ); /* IE6-9 */
    clear: both;
}

#footer-wrap-blog footer[role="contentinfo"] {
    border: medium none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    min-height: 200px;
    padding-top: 0;
    border-top: 1px solid #EDEDED;
    clear: both;
    font-size: 0.857143rem;
    line-height: 2;
    max-width: 68.5714rem;
	color:#505050;}

.list-footer-forum{
	float: left;
    margin-right: 32px;
    width: 215px;
    margin-bottom: 15px;
}

#list-countries-forum{
	margin-right: 30px;}

#list-about-forum{
	min-height: 140px;
    width: 216px;
	margin-right:0;
	float:right;}

footer[role="contentinfoforum"] {
	border: medium none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    min-height: 212px;
    padding-top: 13px;
	max-width: 68.5714rem;
	clear: both;
    line-height: 2;}

#list-about-forum ul{
	border-top: none;
	padding: 0px 0px 0px 50px;
	list-style-image: url("../../iol/images/footer/flecha-footer-forum.png");}/*twentytwelve*/

.list-footer-forum aside ul, #list-countries-forum ul{
	border-top: none;
	padding: 0px 0px 0px 50px;
	list-style-image: url("../../iol/images/footer/flecha-footer-forum.png");/*twentytwelve*/
	background-color:none;
	width: 216px;}

.list-footer-forum ul li, #list-about-forum ul li, #list-countries-forum ul li{
	background:none;
	height:auto;
	padding-left:0px;
	margin-bottom: 0px;
	padding-top:0px;
	margin-top:0px;}

.list-footer-forum ul li a, #list-about-forum ul li a, #list-countries-forum ul li a{
	text-decoration:none;
	background: none;
	font-family: 'Roboto-Light';
	font-size: 13px;
	font-weight: normal;
	text-shadow: 0em 0.09em #000;
	color:#fff;}

.list-footer-forum ul li a:hover, #list-about-forum ul li a:hover, #list-countries-forum ul li a:hover{
	color:#cecece;}

.site-info-forum h3{
	border: none;
	width: 216px;
	height:auto;
	text-align:center;
	color: #eeeeee;
	font-family: 'Roboto-Light';
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 10px;
	text-shadow: 0em 0.1em #000;}

.site-info-forum img{
	display:block;
	height: 24px;
	padding-bottom:0px;
	margin-bottom:0px;
	width: 216px;}

#list-about-forum img.logo-footer{
	width: auto;
	height:auto;
	margin-top: 20px;
	margin-left: 50px;
    margin-top: 12px;}

#list-forum aside h3{
	display:none;}

/*#footer-wrap-blog .menu-menu-footer-container {
    padding-top: 3px;}

#footer-wrap-blog #logos {
    float: right;
    padding-top: 5px;
    width: auto;}

#footer-wrap-blog ul#menu-menu-footer li a {
    color: #5f5f5f;
    font-family: 'negotiatefree';
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;}

#footer-wrap-blog ul#menu-menu-footer li a:hover{
	color:#fea63c;}*/

/*SINGLE-FORUM*/


div.bbp-template-notice.info {
    display:none;}

div.bbp-pagination{
	display:none;}

#bbpress-forums li.bbp-header ul {
    font-family: 'Roboto-Light';
	font-size: 13px;
	font-weight:normal;
	border-color: #003e67;
}

#bbpress-forums p.bbp-topic-meta span.bbp-topic-started-by a.bbp-author-avatar {
    display: block;
    margin: 0;
    width: auto;/*27px;*/
	float: left;
}

#bbpress-forums p.bbp-topic-meta span.bbp-topic-started-by a.bbp-author-name {
	display:inline;}

.bbp-logged-in img.avatar {
    float: left;
    margin: 0 15px 0 0;
}

div.bbp-logged-in{
	padding: 10px;}

.bbp-logged-in a{
	font-family: 'Roboto-Light';
	font-size: 13px;
	font-weight:normal;
	color:#505050;}

.bbp-logged-in h4 a{
	text-decoration:none;
	color: #fea63c;
	font-family: 'Roboto-Light';
	font-size: 13px;
	font-weight:normal;
	text-transform:uppercase;
}

div#widget-forum form{
	padding: 10px;
	background: #f9f9f9;
	margin-top: 15px;
	}
/*
div#widget-forum form label{
	color: #505050;
    font-family: 'Roboto-Light';
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 7px;}
*/
/*
div#widget-forum form input{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0 0 0 0;
    color: #003E67;
    font-family: 'Roboto-Light';
    font-weight: normal;
	width: 94%;}*/

div#widget-forum form input#rememberme{
	width:auto;}

div#widget-forum form div.bbp-submit-wrapper {
    text-align: center;
	float:none;
}

div#widget-forum form div.bbp-submit-wrapper button{
    border-radius: 2px 2px 2px 2px;
    border-color: #fea63c;
    box-shadow: none;
    color: #FFFFFF;
    font-family: 'Roboto-Light';
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 15px;
    width: 55%;}

#bbp_replies_widget-2 ul li div, #bbp_topics_widget-2 ul li div{
    font-size: 13px;
    font-family: 'Roboto-Light';
}




span#subscription-toggle{
	display: block;
	/*width: 96%;*/
	margin-left: auto;
	margin-right:auto;	
	text-align: right;
}

span#subscription-toggle a{
	font-size: 18px;
	font-family: 'Roboto-Regular';
	/*text-decoration: none;*/
	color: #ad731f;
}


aside form input{
	width: 90%;
	margin-top: 15px;
	margin-bottom: 5px;
	height:18px;
	
}
aside form label{
	font-size: 13px !important;
}

aside form fieldset{
	padding-left: 15px;
}

/*-- Pasamos al defaut templating */
/*
#bbpress-forums li.bbp-forum-info{

	    min-height: 115px;
}


#bbpress-forums .forum-titles li.bbp-forum-info{

	    min-height: 0px;
}


#es_ES #bbp-forum-2939 li.bbp-forum-info{
	background: url('../images/content/icon-forum-opcat.png');
	background-repeat: no-repeat;
}


#es_ES #bbp-forum-2335 li.bbp-forum-info{
	background: url('../images/content/icon-forum-presb.png');
	background-repeat: no-repeat;
}



#es_ES  #bbp-forum-2333 li.bbp-forum-info{
	background: url('../images/content/icon-forum-iol.png');
	background-repeat: no-repeat;
}


#es_ES #bbp-forum-2841 li.bbp-forum-info{
	background: url('../images/content/icon-forum-clin.png');
	background-repeat: no-repeat;
}



#es_ES #bbp-forum-12469 li.bbp-forum-info{
	background: url('../images/content/icon-forum-gescat.png');
	background-repeat: no-repeat;
}



#es_ES #bbp-forum-12220 li.bbp-forum-info{
	background: url('../images/content/icon-forum-prices.png');
	background-repeat: no-repeat;
}



#es_ES #bbp-forum-12471 li.bbp-forum-info{
	background: url('../images/content/icon-forum-tec.png');
	background-repeat: no-repeat;
}

*/












