div.rgpd {
  background-color: white;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #ccc;
}
div.rgpd li {
  font-size: 13px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: "Roboto-Light";
  color: #555;
}
div.rgpd li span.title {
  font-family: "Roboto-Regular";
}
.rgpd label.checkbox {
  display: block;
  margin-bottom: 6px;
}
label.checkbox input {
  font-size: 20px;
}
span.rgpdcheckboxtext {
  font-size: 14px;
  margin-left: 7px;
}

.optionSelect {
  color: green;
  font-size: 20px;
}
/*line 7730 style.css 1898*/
#slider a span.mainPhotoLink {
  color: #353537 !important;
  background: transparent !important;
  opacity: 1 !important;
  text-transform: none !important;
  font-size: 22px !important;
}

/*1914 style.css*/
div.sliderMBlWrapp {
  border: 0px !important;
}

/*1703 style.css*/

.grey-first {
  background-color: transparent !important;
}

/*8714*/

#grey1,
#grey2,
#grey3,
#grey4 {
  background-image: url("../images/backgrounds/grey-sprite-v-orange.png") !important;
  height: 70px !important;
  padding-left: 90px !important;
}

/*1720*/
.grey-second {
  background: transparent !important;
  border: 0px !important;
}

#grey1 {
  background-position: 0px 0px !important;
}

#grey2 {
  background-position: 0px -184px !important;
}

#grey3 {
  background-position: 0px -366px !important;
}

#grey4 {
  background-position: 0px -550px !important;
}

.gre-second p {
  color: #353537 !important;
  text-align: center;
  font-size: 15px;
}

#forum-bloq-home {
  width: 56%;
  float: left;
}

#qa-bloq-home {
  width: 39%;
  float: right;
}

#wp-question_content-media-buttons {
  display: none !important;
}

#forum-bloq-home #bbpress-forums fieldset.bbp-form {
  border: none;
}

#forum-bloq-home #bbp_topic_title {
  width: 96%;
  padding-right: 0px;
  padding-left: 0px;
  text-indent: 10px;
  font-style: italic;
  color: #6d6d6d;
  font-size: 14px;
}
#forum-bloq-home #bbpress-forums div.wp-editor-container {
}

.black-text {
  color: #353537;
}
.orange-text {
  color: #ffb44d;
}

#forum-bloq-home span.bold,
#qa-bloq-home span.bold {
  font-weight: normal;
  font-size: 21px;
}

#forum-bloq-home #new-post fieldset.bbp-form > legend:first-child() {
  display: none;
}

#forum-bloq-home fieldset.bbp-form {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#forum-bloq-home fieldset.bbp-form p input,
#forum-bloq-home #question-form table#question-form-table input {
  background: #fff;
  width: 94%;
  /**/
  padding-right: 0px;
  padding-left: 0px;
  text-indent: 10px;
  font-style: italic;
  color: #6d6d6d;
  font-size: 14px;
  border-radius: 2px;
}

#qa-bloq-home #wp-question_content-wrap {
  clear: both;
  display: block;
  margin-top: 0;
}

#qa-bloq-home #question-category,
#qa-bloq-home #question-tags {
  display: none;
}

#qa-bloq-home .wp-editor-container textarea.wp-editor-area {
  height: 175px;
}

#forum-bloq-home fieldset.bbp-form p #bbp_topic_subscription {
  width: 20px;
  display: block;
  float: left;
  margin-right: 5px;
}

div.bbp-submit-wrapper {
  margin-top: 3px;
  float: left;
  clear: both;
}
div.bbp-submit-wrapper button,
#qa-bloq-home input.qa-edit-submit {
  background: #ffa82d;
  color: #fff;
  width: 100px;
  font-weight: bold;
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 0px;
}
#qa-bloq-home input.qa-edit-submit {
  margin-top: 10px;
  width: 260px;
}

#qa-exp,
.qa-explic {
  margin-top: 10px;
  font-size: 13px;
  color: #818181;
}
.qa-explic {
  display: block;
  font-size: 12px;
  margin-top: 10px;
}

#forum-bloq-home #bbpress-forums fieldset select#bbp_forum_id {
  max-width: 100%;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 96%;
  padding-top: 4px;
  padding-bottom: 4px;
  text-indent: 10px;
  font-style: italic;
  color: #6d6d6d;
  font-size: 13px;
  border: 1px solid #dedede;
}

#forum-bloq-home
  #bbpress-forums
  div.bbp-the-content-wrapper
  textarea.bbp-the-content {
  width: 96%;
}

#forum-bloq-home #bbpress-forums fieldset.bbp-form legend {
  /*display:none;*/
  padding-bottom: 0px;
}
#forum-bloq-home #bbpress-forums fieldset.bbp-form label,
#forum-bloq-home div.info-intro,
#qa-bloq-home #question-title-label label {
  color: #363638;
  font-size: 14px; /*13px*/
  padding-bottom: 8px;
}

div.quickformwrapper div.udm_error {
  display: block;
  font-size: 12px;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: left;
}

div.quickformwrapper div.error {
  color: red;
  font-size: 12px;
  margin-bottom: -10px;
}

#qa-bloq-home #question-title-label label {
  color: #363638;
  font-family: "Open Sans";
}

#qa-bloq-home #question-form-table {
  width: 100%;
}

#forum-bloq-home div.info-intro {
  padding-bottom: 0px;
}

#forum-bloq-home #wp-bbp_topic_content-wrap {
  margin-top: 0px;
}

#forum-bloq-home #wp-bbp_topic_content-wrap textarea {
  height: 120px;
}

#qa-bloq-home #question-title-label {
  padding-top: 20px;
  width: 90%;
  float: left;
  clear: both;
}

#qa-bloq-home #question-title-td {
  float: left;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 10px;
}

#qa-bloq-home #question-title-td input {
  margin-top: 15px;
  border-radius: 1px;
  border: 1px solid #cccccc;
  max-width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  width: 98%;
}

#qa-bloq-home #question-form table#question-form-table input {
  padding-left: 0px;
  padding-right: 0px;
  text-indent: 10px;
  width: 100%;
}
#qa-bloq-home #question-taxonomies {
  display: none;
}

#interaction-bloq {
  margin-top: 50px;
}

#interaction-bloq ul.the_champ_login_ul li {
  width: 50% !important;
}

#interaction-bloq .theChampLogin {
  width: 96% !important;
}

#interaction-bloq .the_champ_login_container {
  overflow: hidden;
}

#bloque-cirujano {
  background-image: url("../images/backgrounds/asesor-cirugia-cataratas.png");
  background-position: 30px 0px;
  background-repeat: no-repeat;
  background-size: 325px;
  margin-top: 100px;
  height: 375px;
}

#patologias {
  background-image: url("../images/backgrounds/patologias-asociadas-cirugia-cataratas.jpg");
  background-repeat: no-repeat;
  background-position: right;
  height: 250px;
  background-size: 325px;
  margin-top: 10px;
}

#patologias .patologia-buttons {
  margin-top: 15px;
}

#patologias .patologia-buttons {
  margin-left: 20px;
}

#patologias .patologia-buttons a {
  display: block;
  float: left;
  color: #363638;
  font-family: "Roboto-Regular";
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  margin-right: 25px;
  border: 2px solid #ffa82d;
}

#patologias .patologia-buttons a:hover {
  color: #ffa82d;
}

div.patologias-text-bloq {
  width: 60%;
  float: left;
  padding-top: 50px;
}

#patologias span.text-explicacion {
  color: #353535;
  display: block;
  font-family: "Roboto-Light";
  font-size: 13px;
  line-height: 1.3;
  margin-top: 20px;
}

.patologias-text-bloq span.size-1,
#doctores-particular span.size-1 {
  font-size: 18px;
}

.patologias-text-bloq span.size-2,
#doctores-particular span.size-2 {
  font-size: 18px;
}

.cirujano-asesor-canales {
  background-image: url("../images/backgrounds/iconos-contacte-asesor-cirugia-cataratas.png");
  background-repeat: no-repeat;
  background-size: 230px auto;
  display: block;
  height: 60px;
  margin-left: 75px;
  margin-top: 20px;
  width: 255px;
}
#cirujano-text-bloq {
  width: 65%;
  float: right;
  padding-top: 60px;
}

span.precontact {
  display: block;
  font-size: 14px;
  margin-top: 15px;
  text-indent: 3px;
}

#cirujano-text-bloq span.text-explicacion {
  color: #353535;
  display: block;
  font-family: "Roboto-Light";
  font-size: 13px;
  line-height: 1.3;
  margin-top: 20px;
}

#bloque-cirujano span.size-1 {
  font-size: 20px;
  line-height: 1.3;
}
#bloque-cirujano span.size-2 {
  font-size: 24px;
  color: #ffa82d;
}
#bloque-cirujano a {
  text-decoration: none;
}

#block1.redesign {
  height: 173px;
  margin-top: 55px;
  margin-bottom: 55px;
}

#block1.redesign a {
  height: 173px;
}

#block1.redesign .multifocales a {
  background-image: url("../images/backgrounds/multifocales.jpg");
  background-position: -10px;
}
#block1.redesign .icl a {
  background-image: url("../images/backgrounds/icl.jpg");
  background-position: -25px;
}

#block1.redesign a {
  /*	height:173px;
	padding-top:0px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;*/
}
.redesign #block1right,
.redesign #block1left {
  width: 48%;
}
.redesign #block1right #blockpic1,
.redesign #block1left #blockpic2 {
  width: 47%; /*250px;*/
}

.redesign #block1right .blocktext,
.redesign #block1left .blocktext {
  width: 47%; /*230px;*/
  float: left;
  max-height: 173px;
}

.redesign .blocktext {
  /*width:230px;*/
}

.redesign .block1 {
  height: 173px;
  border: 0px;
  padding: 0px;
}

span.bloqs-titles {
  color: #363638;
  font-weight: bold;
  font-size: 15px;
  display: block;
  padding-top: 15px; /*50px;*/
  line-height: 1.4;
}

span.bloqs-subtitles {
  color: #353535;
  font-size: 13px;
  padding-top: 10px;
  display: block;
}

#doctores-particular {
  width: 100%;
  margin-top: 75px;
  margin-bottom: 75px;
}

#doctores-intro {
  margin-bottom: 20px;
}

#doctoresLeft {
  width: 83%;
  background-image: url("../images/backgrounds/doctores.jpg");
  background-repeat: no-repeat;
  background-position: left;
  min-height: 230px;
  float: left;
}

#opinionesIcon {
  background-image: url("../images/backgrounds/opiniones-doctores.png");
  height: 120px;
  display: block;
  background-repeat: no-repeat;
  background-position: 33px 20px;
}

#doctoresRight {
  width: 16%;
  float: right;
  background: #f6f6f6;
}

#opinionesText {
  height: 108px;
  display: block;
  text-align: center;
  color: #363638;
  line-height: 1.3;
  font-size: 13px;
}

#doctoresRight a {
  text-decoration: none;
}

#doctoresLeftText {
  width: 270px;
  position: relative;
  top: 163px;
  left: 350px;
}

#doctoresLeftText .drTitle {
  font-weight: bold;
  display: block;
}

#doctoresLeftText .drDirector {
  font-size: 12px;
  padding-top: 4px;
  display: block;
}

ul.qaHomeList li,
ul.foroHomeList li {
  display: block;
  float: left;
  width: 100%;
  margin-top: 30px;
}
ul.foroHomeList li {
  margin-top: 27px;
}

div.homeForumContentWrapper {
  margin-left: 90px;
  background: #f6f6f6;
  padding: 10px;
  margin-right: 10px;
}
div.homeForumContentWrapper > div {
}
div.qaContent a {
  text-decoration: none;
  color: #ffa930;
  font-family: Roboto-Medium;
}

div.introQA,
div.introForo {
  margin-bottom: 15px;
}

div.introQA span,
div.introForo span {
  font-size: 22px; /*18px*/
}

div.homeBloqQA {
  width: 48%;
  float: left;
  margin-bottom: 50px;
}

div.homeBloqForo {
  width: 48%;
  float: right;
}

div.qaTitle a {
  color: #353535;
  font-size: 15px;
  margin-bottom: 8px;
  margin-top: 3px;
  text-decoration: none;
  display: block;
  font-family: Roboto-Regular;
}

div.forumTitle a {
  font-size: 14px;
  font-weight: normal;
  font-family: Roboto-Bold;
}

.qaLabels.question-tags a {
  font-size: 11px !important;
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 5px !important;
  padding-right: 8px;
}

ul.qaHomeList .qaImgCat {
  background-size: 100%;
  margin-right: 20px;
}

div.qaContent {
  margin-top: 3px;
  color: #ffa930;
  font-size: 13px;
}

ul.foroHomeList img.imgForum {
  display: block;
  float: left;
  width: 82px;
}

/*-- Vamos con los callToActions de registro--*/

#whyregisterwrapper {
  margin-top: 30px;
}

#whyIntroWrapper {
}

#whyIntroText {
  font-size: 24px; /*17px*/
  float: left;
}

#whyRegisterButton a {
  display: block;
  float: right;
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
  font-family: "Roboto-Medium";
  background: #ffa82d;
  font-size: 16px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 2px;
}

ul.whyregisterlist {
  clear: both;
  margin-top: 20px;
}

ul.whyregisterlist li {
  float: left;
  width: 47%;
  min-height: 67px;
  padding-top: 8px;
}

div.advRegisterWrapper ul.whyregisterlist li {
  width: 100%;
  float: none;
  clear: both;
  min-height: 0px;
  margin-bottom: 20px;
}

aside#advRegister > h3 > a {
  color: #fea63c;
  font-size: 16px;
  text-transform: none;
  font-family: "negotiatefree";
  font-weight: normal;
  text-align: left;
  margin-bottom: 20px;
  display: block;
}

aside#advRegister {
  margin-top: 20px;
  margin-bottom: 30px;
}

#leftWrapper aside#advRegister {
  border: 0px;
  width: 100%;
}

li.whyregisterlistitem a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  line-height: 1.3;
}

aside#advRegister li.whyregisterlistitem a {
  color: #353537;
  font-family: "Roboto-Light";
  font-size: 13px;
  font-weight: normal;
  line-height: 1.4;
}

aside#advRegister li.whyregisterlistitem a .bold {
  font-family: "Roboto-Regular";
}

div.advRegisterWrapper li.whyregisterlistitem a {
  font-size: 13px;
  line-height: 1.2;
}

ul.whyregisterlist > li span.icon {
  display: block;
  background-image: url("../images/home/calltoregistericons.png");
  width: 35px;
  margin-top: 0px;
  float: left;
  height: 35px;
}

div.advRegisterWrapper ul.whyregisterlist > li span.icon {
  background-image: url("../images/home/calltoregistericons-nothome.png");
}

ul.whyregisterlist > li:nth-child(1) {
  line-height: 1.9;
}

aside#advRegister ul.whyregisterlist > li:nth-child(1) {
  line-height: 1.2;
}

ul.whyregisterlist > li:nth-child(3) span.icon {
  background-position: 0px 76px;
}

ul.whyregisterlist > li:nth-child(5) span.icon {
  background-position: 0 32px;
}

ul.whyregisterlist > li:nth-child(4) span.icon {
  background-position: 35px 0px;
  width: 33px;
  margin-right: 7px;
}

ul.whyregisterlist > li:nth-child(2) span.icon {
  background-position: 33px 80px;
  width: 33px;
  margin-right: 7px;
}

ul.whyregisterlist > li:nth-child(6) span.icon {
  background-position: 34px 33px;
  width: 33px;
  margin-right: 7px;
  height: 34px;
}

ul.whyregisterlist > li:nth-child(2),
ul.whyregisterlist > li:nth-child(4),
ul.whyregisterlist > li:nth-child(6) {
  margin-left: 4px;
  float: right;
}

#bbpress-forums div.bbp-reply-content ul.estilada li {
  border: 0px;
}
#bbpress-forums div.bbp-reply-content ul.dotted li {
  border: 0px;
}

div.quickMessage-notok {
  color: red;
  font-family: "source_sans_proregular";
  font-size: 15px;
  font-weight: normal;
  text-align: justify;
  font-style: italic;
}

#wp-answer-wrap button#answer-html {
  display: none;
}

#canales-detalles {
  display: block;
  margin-left: 25px; /*-80*/
}

#canales-detalles ul.contactChanels li {
  font-size: 13px;
  color: #000000;
  font-weight: bold;
  float: left;
}

#canales-detalles ul.contactChanels li:nth-child(2),
#canales-detalles ul.contactChanels li:nth-child(4) {
  padding-left: 4px;
  padding-right: 4px;
  color: #ffa82d;
}

/*-- --*/

#page.is-home.interaction {
  /*  background: url("../images/home/nuevocristalino-lentes-intraoculares-antes-operacion.jpeg");
  background-repeat: no-repeat;
  background-size: auto 488px;
  background-position: top;
*/
}

#page.is-home.interaction.alter {
  /*  background: url("../images/home/nuevocristalino-lentes-intraoculares-antes-operacion-alter.jpeg");
  background-repeat: no-repeat;
  background-size: auto 488px;
  background-position: top;*/
}

#preophomeblock {
  height: 488px; /*SYNC INTERACTION*/
}

#preophomeblock h4.quickformtitle,
.quickformwrapper.pages h4 {
  background: none;
  font-family: Roboto-Regular;
  font-size: 23px;
  padding-left: 0px;
  margin-bottom: 8px;
  margin-top: 0px; /*30px*/
  line-height: 1;
}

#ncquicksignup_general_pages div.question_number {
  display: none;
}

#ncquicksignup_general_pages label.udm_question_label {
  display: none;
}

#ncquicksignup_general_pages .question_title.udm_question_label {
  display: block;
  font-family: Roboto-Light;
  height: auto;
  margin-bottom: 2px;
  margin-top: 2px;
  min-height: 0;
  padding-bottom: 0;
  padding-top: 0;
}

#ncquicksignup_general_pages div.question_bloq.input_text {
  border: 0 none;
  margin-bottom: 5px;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

#ncquicksignup_general_pages span.custom-combobox {
  text-align: left;
}

#preophomeblock div.quickformwrapper,
div.quickformwrapper.pages {
  width: 370px;
}

div.quickformwrapper.pages {
  float: right;
  margin-right: 17px;
  background-position: -170px;
}

div.ctoaction.gafas {
  width: 100%;
  background-image: url("../images/leer_periodico.jpg");
  background-position: -150px 0;
}

div.ctoaction.gafas.lios {
  width: 100%;
  background-image: url("../images/lios.jpg");
  background-position: -110px 0;
}

div.ctoaction.gafas.noperiodico {
  width: 100%;
  background-image: url("../images/gafas.jpg");
  background-position: -110px 0;
  background-repeat: no-repeat;
}

div.ctoaction.gafas.noperiodico.fullpage div.quickformwrapper.pages {
  margin-right: 75px;
  margin-top: 5px;
}

#content
  div.ctoaction.gafas.noperiodico.fullpage
  div.question_bloq.input_select {
  background: transparent;
  padding-bottom: 10px;
  border-bottom: 0px;
}

#content div.ctoaction.gafas.noperiodico.fullpage div.question_bloq.input_text {
  border-bottom: 0px;
}

#preophomeblock
  #ncquicksignup_general
  div.question_bloq
  input.custom-combobox-input,
#ncquicksignup_general_pages div.question_bloq input.custom-combobox-input {
  max-width: 88% !important;
  color: #787878;
  margin-bottom: 3px;
}

#ncquicksignup_general_pages div.question_bloq input.custom-combobox-input {
  font-size: 12px;
}

#ncquicksignup_general_pages div.question_bloq input {
  border-radius: 2px;
  color: #6e6e6e;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
}

#ncquicksignup_general_pages
  #id_wrapper_ncquick_pages_general_useremail
  #input_user_email {
  margin-bottom: 3px;
}

#preophomeblock h5.quickformsubtitle,
.quickformwrapper.pages h5 {
  font-family: Roboto-Light;
  font-weight: bold;
  color: #d47500;
  margin: 0;
}

#preophomeblock #ncquicksignup_general div.question_bloq.input_text,
#ncquicksignup_general_pages div.question_bloq.input_text {
  background: none !important;
  margin-bottom: 3px;
}

#preophomeblock #ncquicksignup_general span.title_question,
#ncquicksignup_general_pages span.title_question {
  margin-left: 1px;
  color: #2a2a2a;
  font-family: Roboto-Regular;
}

#ncquicksignup_general_pages span.title_question {
  font-size: 13px;
}

#preophomeblock #ncquicksignup_general .ui-widget,
#ncquicksignup_general_pages .ui-widget {
  background: white;
}

#preophomeblock #ncquicksignup_general div.question_bloq input,
#ncquicksignup_general_pages div.question_bloq input {
  background: #ffffff;
  margin-top: 0px;
  width: 96%;
  padding-left: 3%;
  padding-right: 0px;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 3px;
  font-size: 14px;
  font-family: "Roboto-Light";
}

#ncquicksignup_general .ui-menu .ui-menu-item {
  font-size: 14px;
  line-height: 1.8;
  color: #505050;
  font-family: "Roboto-Light";
}

#ncquicksignup_general .ui-menu .ui-menu-item.ui-state-focus {
  border-width: 0px;
  background: #fff;
  color: #6e6e6e;
  font-size: 14px;
  line-height: 1.8;
}

#preophomeblock .custom-combobox-toggle,
#ncquicksignup_general_pages .custom-combobox-toggle {
  height: 30px;
}

#preophomeblock .input_wrapper,
#ncquicksignup_general_pages .input_wrapper {
  background: none !important;
}

#preophomeblock #ncquicksignup_general,
#ncquicksignup_general_pages {
  width: 370px;
  max-width: 100%;
  margin-top: 10px;
}

#ncquicksignup_general_pages label.checkbox {
  font-family: Roboto-Light;
  font-size: 13px;
}

#ncquicksignup_general_pages input[type="submit"] {
  padding: 3px 20px;
  font-family: "Roboto-Medium";
  font-size: 14px;
  margin-top: 10px;
  width: 100%;
}

#preophomeblock form#ncquicksignup_general label.checkbox,
#ncquicksignup_general_pages label.checkbox {
  color: #272a29;
  font-size: 14px;
  font-family: Roboto-Regular;
}

#preophomeblock label.checkbox a,
#ncquicksignup_general_pages label.checkbox a {
  color: #805b39;
  text-decoration: none;
}

.half-left {
  width: 49%;
  float: left;
}
.half-right {
  width: 49%;
  float: right;
}

#preophomeblock .qa-explic,
.quickformwrapper.pages .qa-explic {
  color: #272a29;
}

.quickformwrapper.pages .qa-explic {
  display: none;
}
#ncquicksignup_general_pages .custom-combobox-toggle {
  height: 27px;
}

#ncquicksignup_general_pages div.question_bloq input {
  margin-bottom: 4px;
  line-height: 15px;
}
.quickformwrapper.pages h4 {
  margin-bottom: 5px;
  font-size: 19px;
  margin-top: 7px;
}

#ncquicksignup_general_pages {
  margin-top: 10px;
}

#preophomeblock div.sliderMBlWrapp {
  width: auto; /*SYNC INTERACTION*/
}

#postophomeblock {
  background: url("../images/home/nuevocristalino-lentes-intraoculares-despues-operacion.jpeg");
  background-repeat: no-repeat;
  background-size: auto 488px; /*SYNC INTERACTION*/
  background-position: top;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  height: 450px;
  min-width: 1140px;
}

#postophomeblock.alter {
  background: url("../images/home/nuevocristalino-lentes-intraoculares-despues-operacion-alter.jpeg");
  background-repeat: no-repeat;
  background-size: auto 488px; /*SYNC INTERACTION*/
  background-position: top;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  height: 450px;
}

.interaction .grey,
.interaction .grey-last {
  padding-top: 70px;
  padding-bottom: 50px;
}

#posthomeFiller {
  height: 445px;
}

div.postophomewrapper {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

div.posthomemessage {
  width: 725px;
  float: right;
  padding-top: 100px;
  max-width: 95%;
}

div.posthomemessage a {
  text-decoration: none;
  color: #2a2728;
}

div.posthomemessage h6 {
  font-size: 28px;
  background: url("../images/preSx-icon.png");
  background-repeat: no-repeat;
  background-position: 0px 3px;
  padding-left: 20px;
}

ul.postopli {
  margin-top: 30px;
  margin-left: 30px;
}

ul.postopli li {
  font-size: 16px;
  font-family: "Roboto-Regular";
  margin-top: 20px;
  background-image: url("../images/post-opitem.png");
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 30px;
}

span.explicit {
  color: #ffaa2b;
  display: block;
  text-align: right;
  width: 100%;
  font-family: Roboto-Bold;
  font-size: 16px;
  margin-top: 20px;
}

#patologias.interaction {
  background-image: none;
}

.patoimages {
  width: 40%;
  width: 454px;
  float: left;
  margin-top: 65px;
  border-top: 2px solid #ffa82d;
  max-width: 96%;
}

.patoleft a,
.patoleft a:hover {
  width: 200px;
  height: 200px;
  float: left;
  display: block;
  text-decoration: none;
  background: url("../images/tratamiento-moscas-volantes-full.png");
  background-repeat: no-repeat;
  background-size: 95%;
}

.patoleft a:hover {
  /*background:url("../images/tratamiento-moscas-volantes-full.png");
	background-size: 95%;
	background-repeat: no-repeat;*/
  background-position: 0 -246px;
}

.patoleft a > span,
.patoright a > span {
  position: relative;
  top: 145px;
  display: block;
  text-align: center;
  color: #4a4a4a;
  text-transform: uppercase;
}

.patoleft a {
  margin-right: 20px;
  margin-left: 7px;
  margin-top: -20px;
}

.patoright a,
.patoright a:hover {
  margin-top: -20px;
  width: 200px;
  height: 200px;
  float: left;
  display: block;
  text-decoration: none;
  background: url("../images/tratamiento-ojo-seco-full.png");
  background-size: 98%;
  background-repeat: no-repeat;
}

.patoright a:hover {
  /*	background:url("../images/tratamiento-ojo-seco-full.png");
	background-size: 98%;
	background-repeat: no-repeat;*/
  background-position: 0 -246px;
}

#patowrapper {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.patogrey {
  background: #f6f6f6;
  margin-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  max-height: 155px;
}

.interaction div.patologias-text-bloq {
  width: 500px;
  text-align: justify;
  max-width: 96%;
}
#patologias.interaction .text-explicacion {
  padding-right: 50px;
  padding-left: 10px;
  font-size: 14px;
}

.interaction .patologias-text-bloq > span:first-child {
  background: url("../images/preSx-icon.png");
  background-repeat: no-repeat;
  background-position: 0px 3px;
  padding-left: 20px;
}

.interaction .patologias-text-bloq span.size-1 {
  font-size: 21px;
}

.interaction .patologias-text-bloq span.size-2 {
  font-family: Roboto-Medium;
  font-size: 22px;
}

div.qaforumbackground {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin-top: 75px;
  background: #fbfbfb;
  padding-top: 40px;
  min-height: 375px;
  min-width: 1140px;
}

.qaforumwrapper {
  width: 1140px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div#qaforumfiller {
  height: 600px;
}

.qaforumbackground div.introQA > span:first-child,
.qaforumbackground div.introForo > span:first-child {
  background: url("../images/preSx-icon.png");
  background-repeat: no-repeat;
  background-position: 0px 3px;
  padding-left: 20px;
}

.qaforumbackground div.introQA > span:first-child,
.qaforumbackground div.introForo > span:first-child {
  font-family: Roboto-Regular;
}

.floatFixerMobile {
  display: none;
}

#specificNoRegQHeader {
  background: url("../images/satisfaccion-tras-operacion-de-ojos.jpeg");
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  height: 230px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-width: 1140px;
}

#questionphotoTitle {
  position: relative;
  top: 60px;
  font-size: 25px;
  font-family: Roboto-Light;
  float: left;
  text-align: left;
  margin-left: 100px;
}

#questionphotoTitle span.black {
  display: block;
  margin-top: 10px;
}

.specificNoRegQHeaderFiller {
  height: 325px;
}

#primary.noregquestionnaires {
  margin-top: 0px;
  padding-top: 0px;
}

#primary.noregquestionnaires #content article h1 {
  font-family: Roboto-Light;
  font-weight: normal;
}

#primary.noregquestionnaires #content {
  width: 38%;
  float: left;
}

span.resalted {
  font-family: Roboto-Regular;
  font-size: 14px;
}

#postOpShreWrapper {
  float: right;
  margin-top: 50px;
  text-align: center;
}

#postOpShreWrapper .the_champ_sharing_container.the_champ_horizontal_sharing {
  float: right;
}

span.sharePostTitle {
  display: block;
  margin-bottom: 10px;
}

span.resalted a {
  text-decoration: none;
  color: #fea63c;
}

#opTypeLinksWrapper {
  float: right;
  width: 60%;
}

#opTypeLinksWrapper a {
  text-decoration: none;
  display: block;
  height: 284px;
  width: 234px;
}

#quickMensPostOp {
  background: url("../images/quickMens.png");
  background-repeat: no-repeat;
  width: 375px;
  height: 135px;
}

#quickMensPostOp span.mssage {
  display: block;
  position: relative;
  top: 46px;
  left: 50px;
  color: #ffa72d;
  font-size: 25px;
  line-height: 1.4;
}

#rssPostWrapper {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 10px;
  font-family: Roboto-Bold;
  font-size: 14px;
}

div.centered {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  margin-bottom: 100px;
}

#opTypeLinksWrapper a span {
  display: block;
  background: #fda82b;
  color: #ffffff;
  text-decoration: none;
  font-family: Roboto-Regular;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  top: 170px;
  min-height: 25px;
}

#opTypeLinksWrapper a:hover span {
  background: #605f5d;
  color: #ffffff;
  text-decoration: none;
}

#cuest-cataratas {
  width: 284px;
  max-width: 40%;
  height: 234px;
  float: right;
  margin-right: 5%;
  background: url("../images/cuest-cataratas.jpg");
  background-repeat: no-repeat;
}

#cuest-cle {
  width: 284px;
  height: 234px;
  max-width: 40%;
  height: 235px;
  float: right;
  background: url("../images/cuest-cle.jpg");
  background-repeat: no-repeat;
}

#cuest-icl {
  width: 284px;
  height: 234px;
  max-width: 40%;
  height: 235px;
  float: right;
  margin-right: 5%;
  background: url("../images/cuest-icl.jpg");
  background-repeat: no-repeat;
}

#cuest-lasik {
  width: 284px;
  height: 234px;
  max-width: 40%;
  height: 235px;
  float: right;
  background: url("../images/cuest-lasik.jpg");
  background-repeat: no-repeat;
}

@media (max-width: 1650px) {
  #page.is-home.interaction.alter {
    background-position: -1100px top;
  }
}

@media (max-width: 640px) {
  div.ctoaction.gafas.noperiodico.fullpage div.quickformwrapper.pages {
    margin-right: inherit;
    margin-left: 2%;
    float: none;
  }
  div.ctoaction.gafas.noperiodico {
    padding-top: 5px;
  }

  #page.is-home.interaction {
    background-position: -1500px 0px;
  }
  #postophomeblock {
    background-position: -850px top;
  }

  #page.is-home.interaction.alter {
    background-position: -1800px 0px;
  }
  #postophomeblock.alter {
    background-position: -700px 0px;
  }

  #postophomeblock {
    min-width: 0px;
  }

  #primary.noregquestionnaires #content {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: both;
  }

  div.posthomemessage {
    padding-top: 20px;
  }

  #postOpShreWrapper {
    margin-top: 20px;
  }

  #opTypeLinksWrapper {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: both;
  }

  #cuest-cataratas,
  #cuest-icl,
  #cuest-cle,
  #cuest-lasik {
    float: none;
    clear: both;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  #quickMensPostOp {
    display: none;
  }
  .noMobile {
    display: none;
  }

  div.centered {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #specificNoRegQHeader {
    width: 100%;
    min-width: 0px;
  }

  #questionphotoTitle {
    margin-left: 2%;
  }
  #quickMensPostOp {
    max-width: 96%;
  }

  #quickMensPostOp span.mssage {
    font-size: 18px;
    width: 230px;
    max-width: 80%;
  }

  .specificNoRegQHeaderFiller.noMobile {
    display: none;
  }

  ul.foroHomeList img.imgForum {
    display: none;
  }

  div.homeForumContentWrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: both;
  }

  .interaction .patologias-text-bloq span.size-1 {
    font-size: 17px;
  }
  .interaction .patologias-text-bloq span.size-2 {
    font-size: 18px;
    display: block;
    padding-left: 20px;
    padding-top: 5px;
  }

  div.introQA span {
    display: block;
    padding-left: 20px;
    padding-top: 5px;
  }

  div#qaforumfiller {
    height: 950px;
  }

  div.floatFixerMobile {
    float: none;
    clear: both;
    height: 0px;
    display: block;
  }

  div.qaforumbackground {
    height: auto;
    padding-bottom: 50px;
    min-width: 0px;
  }

  .patoleft,
  .patoright {
    height: 200px;
  }

  .patoleft a,
  .patoleft a:hover,
  .patoright a,
  .patoright a:hover {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    height: 200px;
  }

  .patoleft a > span,
  .patoright a > span {
    top: 145px;
  }

  div.quickformwrapper {
    margin-left: 0.5%;
  }

  .patogrey {
    background: #ffffff;
  }

  .patoimages {
    float: none;
    margin-right: auto;
    margin-left: auto;
    max-width: 98%;
    height: 300px;
  }

  #patologias.interaction .text-explicacion {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 3%;
    padding-left: 3%;
  }

  ul.postopli {
    margin-left: 0px;
    background: #ffffff;
    padding: 10px;
    padding-bottom: 10px;
    padding-top: 2px;
    margin-top: 15px;
    opacity: 0.7;
    margin-right: 10px;
  }

  span.sharePostTitle {
    display: none;
  }

  .interaction .grey,
  .interaction .grey-last {
    padding-top: 10px;
    padding-bottom: 0px;
  }

  #canales-detalles {
    margin-left: auto;
    margin-right: auto;
  }

  #canales-detalles ul.contactChanels li {
    float: none;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
  }

  #canales-detalles ul.contactChanels li:nth-child(2),
  #canales-detalles ul.contactChanels li:nth-child(4) {
    display: none;
  }

  #whyIntroText {
    font-size: 17px;
    float: none;
    text-align: center;
    width: 95%;
  }

  #whyRegisterButton a {
    float: none;
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-top: 30px;
    text-align: center;
  }

  ul.whyregisterlist li {
    clear: both;
    float: none;
    width: 95%;
    margin-left: 17px !important;
    margin-right: auto;
  }

  ul.whyregisterlist > li:nth-child(2),
  ul.whyregisterlist > li:nth-child(4),
  ul.whyregisterlist > li:nth-child(6) {
    margin-left: 4px;
    float: none;
  }

  #grey1,
  #grey2,
  #grey3,
  #grey4 {
    background-position: 40% 0px !important;
    padding-top: 80px !important;
    padding-left: 0px !important;
  }

  .grey h2 {
    background: transparent !important;
  }

  #forum-bloq-home,
  #qa-bloq-home {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  #cirujano-text-bloq span.text-explicacion {
    display: none;
  }

  .cirujano-asesor-canales {
    width: 50%;
    background-size: 70%;
  }

  #cirujano-text-bloq {
    float: none;
    padding-top: 160px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  div.patologias-text-bloq {
    width: 90%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  #patologias {
    background-position: bottom right;
    height: auto;
    background-size: 150px;
  }

  div.patologia-buttons {
    max-width: 60%;
    float: left;
    clear: both;
  }

  #patologias .patologia-buttons a {
    clear: both;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }

  .redesign #block1right,
  .redesign #block1left {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    max-width: none;
    margin-top: 55px;
  }

  #block1.redesign {
    margin-top: 100px;
    height: auto;
  }

  #block1.redesign .multifocales a,
  #block1.redesign .icl a {
    background-position: -50px;
  }

  #doctoresLeft {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  #doctoresRight {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 20px;
  }

  #doctores-intro {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }

  #opinionesIcon {
    background-position: 45%;
  }

  #doctores-particular {
    max-width: 98%;
    overflow: hidden;
  }

  div.homeBloqForo {
    margin-top: 50px;
  }

  div.homeBloqQA,
  div.homeBloqForo {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: both;
  }
  div.qaLabels.question-tags {
    float: right;
    /*width:50%;*/
  }
  div.qaLabels.question-tags a {
    padding-left: 13px;
    padding-right: 4px;
  }
  #doctoresRight {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2%;
    padding-right: 2%;
  }
}

/*Tweak para newlens.co.uk */

#en_GB #logo img {
  margin-top: -25px;
}

/*-- css que estab en iol.css--*/

#left {
  float: left;
}

#right {
  float: right;
  width: 20%;
}

div.site-content-single {
  float: left;
  padding-left: 4%;
  padding-right: 3%;
  width: 51%; /*54%;*/
}

#loadingGif {
  display: none;
}

#loaderDiv img {
  /*Cambio para evitar salto en paginación superior*/
  margin-left: 40%;
  margin-top: 20%;
}

#versionSwitcher {
  display: none;
}




/*Tamaño de letra para el widget de la derecha*/
#en_GB #logo img {
  margin-top: -25px;
}

#en_US #logo img {
  margin-top: -25px;
}

#de_AT #logo img {
  margin-top: -25px;
}

#fr_FR #logo img {
  margin-top: -25px;
}


#masNCfooter ul li {
	padding-left: 30px;
}
